## 2.pandasåŸºç¡€

### å‰ç½®åŒ…å®‰è£…

In [1]:
# ! pip install xlrd
# # ! pip install xlwt
# ! pip install openpyxl

In [2]:
import numpy as np
import pandas as pd
pd.__version__

'1.5.3'

### 2.1æ–‡ä»¶çš„è¯»å–å’Œå†™å…¥ğŸ‡

#### æ–‡ä»¶çš„è¯»å–

In [3]:
df_csv = pd.read_csv('data/my_csv.csv')
df_txt = pd.read_table('data/my_table.txt')
df_excel = pd.read_excel('data/my_excel.xlsx') # ç¬¬ä¸€è¡Œä¸ä½œä¸ºåˆ—å

In [4]:
df_csv = pd.read_csv('data/my_csv.csv')
print(df_csv)

# ç¬¬ä¸€è¡Œä¸ä½œä¸ºåˆ—å
df_csv = pd.read_csv('data/my_csv.csv', header=None)
print(df_csv)

# index_colå°†æŸä¸€åˆ—æˆ–å‡ åˆ—ä½œä¸ºç´¢å¼•
df_csv = pd.read_csv('data/my_csv.csv', index_col=['col1', 'col2'])
print(df_csv)

# è¯»å–åˆ—çš„é›†åˆ
df_csv = pd.read_csv('data/my_csv.csv', usecols=['col1', 'col3'])
print(df_csv)
df_csv = pd.read_csv('data/my_csv.csv', usecols=[0, 2])
print(df_csv)

# è½¬åŒ–ä¸ºæ—¶é—´çš„åˆ—
# df_csv = pd.read_csv('data/my_csv.csv', parse_dates=[4])
df_csv = pd.read_csv('data/my_csv.csv', parse_dates=['col5'])
print(df_csv)

# è¯»å–çš„æ•°æ®è¡Œæ•°
df_csv = pd.read_csv('data/my_csv.csv', nrows=2)
print(df_csv)

   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2020/1/1
1     3    b   3.4  banana  2020/1/2
2     6    c   2.5  orange  2020/1/5
3     5    d   3.2   lemon  2020/1/7
      0     1     2       3         4
0  col1  col2  col3    col4      col5
1     2     a   1.4   apple  2020/1/1
2     3     b   3.4  banana  2020/1/2
3     6     c   2.5  orange  2020/1/5
4     5     d   3.2   lemon  2020/1/7
           col3    col4      col5
col1 col2
2    a      1.4   apple  2020/1/1
3    b      3.4  banana  2020/1/2
6    c      2.5  orange  2020/1/5
5    d      3.2   lemon  2020/1/7
   col1  col3
0     2   1.4
1     3   3.4
2     6   2.5
3     5   3.2
   col1  col3
0     2   1.4
1     3   3.4
2     6   2.5
3     5   3.2
   col1 col2  col3    col4       col5
0     2    a   1.4   apple 2020-01-01
1     3    b   3.4  banana 2020-01-02
2     6    c   2.5  orange 2020-01-05
3     5    d   3.2   lemon 2020-01-07
   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2020/1/1
1     3    b   3.4  banana  2020/1/2

In [5]:
# ä½¿ç”¨read_tableçš„è‡ªå®šä¹‰åˆ†éš”ç¬¦çš„å‚æ•°sep
df_txt = pd.read_table('data/my_table_special_sep.txt')
print(df_txt)

# ä½¿ç”¨read_tableçš„è‡ªå®šä¹‰åˆ†éš”ç¬¦çš„å‚æ•°sep,å¹¶è‡ªå®šä¹‰å¼•æ“
# sepä¸­ä½¿ç”¨çš„ä¸ºæ­£åˆ™è¡¨è¾¾å¼ï¼Œä½¿ç”¨\è¿›è¡Œè½¬ä¹‰
print("ä½¿ç”¨è‡ªå®šä¹‰åˆ†éš”ç¬¦å(separator)")
df_txt = pd.read_table('data/my_table_special_sep.txt', sep='\|\|\|\|', engine='python')
print(df_txt)

              col1 |||| col2
0  TS |||| This is an apple.
1    GQ |||| My name is Bob.
2         WT |||| Well done!
3    PT |||| May I help you?
ä½¿ç”¨è‡ªå®šä¹‰åˆ†éš”ç¬¦å(separator)
  col1                 col2
0   TS    This is an apple.
1   GQ      My name is Bob.
2   WT           Well done!
3   PT      May I help you?

#### æ–‡ä»¶çš„å†™å…¥

In [11]:
# å†™å…¥æ•°æ®æ—¶ï¼Œå°†indexè®¾ç½®ä¸ºfalseå¯æ¶ˆé™¤ç´¢å¼•
df_excel = pd.read_excel('data/my_excel.xlsx')
print(df_excel)
df_excel.to_excel('data/excel_saved.xlsx', index=False)

   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2020/1/1
1     3    b   3.4  banana  2020/1/2
2     6    c   2.5  orange  2020/1/5
3     5    d   3.2   lemon  2020/1/7

In [51]:
# å€ŸåŠ©csvå†™å…¥txtæ–‡æœ¬æ•°æ®
df_txt = pd.read_table('data/my_table.txt')
print(df_txt)
df_txt.to_csv('data/txt_saved.txt', sep='\t', index=False)
# df_txt.to_csv('data/txt_saved_demo.txt', index=False)

   col1 col2  col3             col4
0     2    a   1.4   apple 2020/1/1
1     3    b   3.4  banana 2020/1/2
2     6    c   2.5  orange 2020/1/5
3     5    d   3.2   lemon 2020/1/7

In [52]:
# å°†è¡¨æ ¼è½¬æ¢ä¸ºmarkdownæˆ–latexè¯­è¨€
# éœ€å®‰è£…tabulateåŒ…
print(df_csv.to_markdown())
print(df_csv.to_latex())

|    |   col1 | col2   |   col3 | col4   | col5     |
|---:|-------:|:-------|-------:|:-------|:---------|
|  0 |      2 | a      |    1.4 | apple  | 2020/1/1 |
|  1 |      3 | b      |    3.4 | banana | 2020/1/2 |
\begin{tabular}{lrlrll}
\toprule
{} &  col1 & col2 &  col3 &    col4 &      col5 \\
\midrule
0 &     2 &    a &   1.4 &   apple &  2020/1/1 \\
1 &     3 &    b &   3.4 &  banana &  2020/1/2 \\
\bottomrule
\end{tabular}

C:\Users\Wanggs\AppData\Local\Temp\ipykernel_4000\2294710654.py:4: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_csv.to_latex())

### 2.2 åŸºæœ¬æ•°æ®ç»“æ„

#### series--ä¸€ç»´æ•°æ®

In [53]:
# seriesï¼šdata,index,dtype,name
# objectä»£è¡¨ä¸€ç§æ··åˆç±»å‹
demo = pd.Series(data=[100, 'q', {'dic1':5}],
                 index=pd.Index(['hi', 'none', 20], name='demo_index'),
                 name='demo_series',
                 dtype='object')
print(demo)

# é€šè¿‡ç´¢å¼•å–å‡ºå¯¹åº”çš„å€¼
demo[20]
demo['hi']

demo_index
hi              100
none              q
20      {'dic1': 5}
Name: demo_series, dtype: object

100

In [54]:
# è·å–seriesçš„å±æ€§
print(demo.values)
print(demo.index)
print(demo.dtype)
print(demo.name)

# è·å–åºåˆ—çš„é•¿åº¦
print(demo.shape)

[100 'q' {'dic1': 5}]
Index(['hi', 'none', 20], dtype='object', name='demo_index')
object
demo_series
(3,)

#### dataframe

In [55]:
data = [[1, 'a', 1.2], [2, 'b', 2.2], [3, 'c', 3.2]]
# è¡Œç´¢å¼•index,åˆ—ç´¢å¼•columns
df = pd.DataFrame(data=data,
                  index=['row_%d'%i for i in range(3)],
                  columns=['col0', 'col1', 'col2'])
print(df)

       col0 col1  col2
row_0     1    a   1.2
row_1     2    b   2.2
row_2     3    c   3.2

In [56]:
demo = pd.DataFrame(data={'col0':[1,2,3], 'col1':list('qwe'), 'col2':[.1,.2,-.4]},
                    index=['row_%d'%i for i in range(3)])
demo

       col0 col1  col2
row_0     1    q   0.1
row_1     2    w   0.2
row_2     3    e  -0.4

In [57]:
# ç´¢å¼•å–å€¼
demo['col0']
demo[['col0', 'col2']]

       col0  col2
row_0     1   0.1
row_1     2   0.2
row_2     3  -0.4

In [58]:
# è·å–å¯¹åº”å±æ€§
print(demo.values)
print(demo.dtypes)
print(demo.index)
print(demo.columns)
print(demo.shape)

print(df.T)

[[1 'q' 0.1]
 [2 'w' 0.2]
 [3 'e' -0.4]]
col0      int64
col1     object
col2    float64
dtype: object
Index(['row_0', 'row_1', 'row_2'], dtype='object')
Index(['col0', 'col1', 'col2'], dtype='object')
(3, 3)
     row_0 row_1 row_2
col0     1     2     3
col1     a     b     c
col2   1.2   2.2   3.2

### 2.3å¸¸ç”¨åŸºæœ¬å‡½æ•°

In [59]:
demo = pd.read_csv('data/learn_pandas.csv')
# å–å‰7åˆ—
demo = demo[demo.columns[:7]]

#### æ±‡æ€»å‡½æ•°

In [60]:
# å–å‰nè¡Œ-head(n),tail(n),é»˜è®¤5è¡Œ
demo.head(2)

# infoå’Œdescribeåªèƒ½æ˜¾ç¤ºè¾ƒå°‘çš„ä¿¡æ¯
demo.info() # è¿”å›è¡¨çš„ä¿¡æ¯æ¦‚å†µ
demo.describe() # æ•°å€¼åˆ—å¯¹åº”çš„ç»Ÿè®¡é‡

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   School    200 non-null    object
 1   Grade     200 non-null    object
 2   Name      200 non-null    object
 3   Gender    200 non-null    object
 4   Height    183 non-null    float64
 5   Weight    189 non-null    float64
 6   Transfer  188 non-null    object
dtypes: float64(2), object(5)
memory usage: 11.1+ KB

           Height      Weight
count  183.000000  189.000000
mean   163.218033   55.015873
std      8.608879   12.824294
min    145.400000   34.000000
25%    157.150000   46.000000
50%    161.900000   51.000000
75%    167.500000   65.000000
max    193.900000   89.000000

#### ç‰¹å¾ç»Ÿè®¡å‡½æ•°

In [61]:
df_demo = demo[['Height', 'Weight']]

# èšåˆå‡½æ•°
df_demo.mean() # å¯¹å…¶ä¸­çš„æ•°æ®åˆ—æ“ä½œ
df_demo.count() # éç¼ºå¤±å€¼çš„ä¸ªæ•°
df_demo.quantile()  # è¿”å›åˆ†ä½æ•°
df_demo.idxmax()    # æœ€å¤§å€¼å¯¹åº”çš„ç´¢å¼•

df_demo.mean(axis=1).head()

0    102.45
1    118.25
2    138.95
3     41.00
4    124.00
dtype: float64

#### å”¯ä¸€å€¼å‡½æ•°

In [62]:
demo['School'].unique() # è¿”å›å”¯ä¸€å€¼åˆ—è¡¨
demo['School'].nunique()    # å”¯ä¸€å€¼çš„ä¸ªæ•°
demo['School'].value_counts()   # å”¯ä¸€å€¼åŠå¯¹åº”çš„ä¸ªæ•°

# å¤šä¸ªåˆ—ç»„åˆçš„å”¯ä¸€å€¼
df_demo = demo[['Gender', 'Transfer', 'Name']]
df_demo.drop_duplicates(['Gender', 'Transfer'], keep='first')   # æ¯ä¸ªç»„åˆé¦–æ¬¡å‡ºç°æ‰€åœ¨çš„è¡Œ
df_demo.drop_duplicates(['Gender', 'Transfer'], keep='last')    # æœ€åä¸€æ¬¡å‡ºç°æ‰€åœ¨çš„è¡Œ
df_demo.drop_duplicates(['Name', 'Transfer'], keep=False)   # å»é™¤é‡å¤ç»„åˆï¼Œä¿ç•™åªå‡ºç°ä¸€æ¬¡çš„ç»„åˆ

# è¿”å›å¸ƒå°”åˆ—è¡¨ï¼Œé‡å¤å…ƒç´ ä¸ºTrue
df_demo.duplicated(['Gender', 'Transfer'])

0      False
1      False
2       True
3       True
4       True
       ...
195     True
196     True
197     True
198     True
199     True
Length: 200, dtype: bool

#### æ›¿æ¢å‡½æ•°

In [63]:
# é€šè¿‡å­—å…¸æ›¿æ¢
demo['Gender'].replace({'Female':0, 'Male':1}).head()
# é€šè¿‡åˆ—è¡¨æ›¿æ¢
demo['Gender'].replace(['Female', 'Male'], [0, 1]).head()

# method=ffill/bfillç‰¹æ®Šæ–¹å‘æ›¿æ¢
s_demo = pd.Series(['a', 1, 'b', 2, 1, 1, 'a'])
s_demo.replace([1, 2], method='ffill')  # å¯¹1ï¼Œ2ç”¨å‰é¢æœªè¢«æ›¿æ¢çš„å€¼è¿›è¡Œæ›¿æ¢
s_demo.replace([1, 2], method='bfill')  # å¯¹1ï¼Œ2ç”¨åé¢æœªè¢«æ›¿æ¢çš„å€¼è¿›è¡Œæ›¿æ¢
s_demo.replace('a', method='bfill')  # å¯¹1ï¼Œ2ç”¨åé¢æœªè¢«æ›¿æ¢çš„å€¼è¿›è¡Œæ›¿æ¢
s_demo.replace(['a', 'b'], method='ffill')  # å¯¹1ï¼Œ2ç”¨åé¢æœªè¢«æ›¿æ¢çš„å€¼è¿›è¡Œæ›¿æ¢

0    a
1    1
2    1
3    2
4    1
5    1
6    1
dtype: object

In [64]:
# é€»è¾‘æ›¿æ¢
s_demo = pd.Series([-1, 1.23, 100.789, -9])
s_demo.where(s_demo>0, 'å°äº0')  # whereå‡½æ•°åœ¨æ¡ä»¶ä¸ºfalseæ—¶è¿›è¡Œæ›¿æ¢ï¼ŒæœªæŒ‡å®šæ›¿æ¢å€¼æ—¶ï¼Œæ›¿æ¢ä¸ºç¼ºå¤±å€¼
s_demo.mask(s_demo>0, 'å¤§äº0')  # maskå‡½æ•°åœ¨æ¡ä»¶ä¸ºtrueæ—¶è¿›è¡Œæ›¿æ¢

# print(s_demo.index)
s_demo.mask([True, False, False, True], 'å¸ƒå°”æ›¿æ¢')

s_demo.round(2) # å››èˆäº”å…¥ï¼Œä¿ç•™2ä½å°æ•°
s_demo.clip(0, 2)   # ä¸Šä¸‹æˆªæ–­è¾¹ç•Œ

0    0.00
1    1.23
2    2.00
3    0.00
dtype: float64

#### æ’åºå‡½æ•°

In [65]:
# å€¼æ’åºå’Œç´¢å¼•æ’åº,å°†Gender,Nameåˆ—ä½œä¸ºç´¢å¼•
df_demo = demo[['Grade', 'Name', 'Height', 'Weight']].set_index(['Grade', 'Name'])
print(df_demo)

# å¯¹èº«é«˜è¿›è¡Œæ’åº,é»˜è®¤ascending=Trueä¸ºå‡åº
df_demo.sort_values('Height').head(10)

# åœ¨ä½“é‡ç›¸åŒçš„æƒ…å†µä¸‹ï¼Œå¯¹èº«é«˜è¿›è¡Œæ’åº
df_demo.sort_values(['Weight', 'Height'], ascending=[True, False]).head()

# æŒ‡å®šç´¢å¼•å±‚åå­—æˆ–ç¼–å·,åªé’ˆå¯¹è®¾ç½®çš„ç´¢å¼•
df_demo.sort_index(level=['Grade', 'Name'], ascending=[True, False]).head()

                          Height  Weight
Grade     Name
Freshman  Gaopeng Yang     158.9    46.0
          Changqiang You   166.5    70.0
Senior    Mei Sun          188.9    89.0
Sophomore Xiaojuan Sun       NaN    41.0
          Gaojuan You      174.0    74.0
...                          ...     ...
Junior    Xiaojuan Sun     153.9    46.0
Senior    Li Zhao          160.9    50.0
          Chengqiang Chu   153.9    45.0
          Chengmei Shen    175.3    71.0
Sophomore Chunpeng Lv      155.7    51.0

[200 rows x 2 columns]

                        Height  Weight
Grade    Name
Freshman Yanquan Wang    163.5    55.0
         Yanqiang Xu     152.4    38.0
         Yanqiang Feng   162.3    51.0
         Yanpeng Lv        NaN    65.0
         Yanli Zhang     165.1    52.0

#### apply æ–¹æ³•

In [66]:
# applyçš„è‡ªç”±åº¦å¾ˆé«˜ï¼Œä½†æ˜¯ä»¥æ€§èƒ½ä¸ºä»£ä»·
df_demo = demo[['Weight', 'Height']]
# applyæ–¹æ³•å¸¸ç”¨äºè¡Œè¿­ä»£æˆ–åˆ—è¿­ä»£
df_demo.apply(lambda x:x.mean(), axis=1).head() # é€è¡Œå‡å€¼

df_demo.apply(lambda x:(x-x.mean()).abs().mean())

Weight    10.391870
Height     6.707229
dtype: float64

### 2.4çª—å£å¯¹è±¡

#### æ»‘åŠ¨çª—å£

In [67]:
# æ»‘åŠ¨å¯¹è±¡
demo = pd.Series([1,2,3,4,5])
roller = demo.rolling(window=3) # çª—å£å¤§å°window
print(roller.sum())
# æ»‘åŠ¨çª—å£åŒ…å«å½“å‰è¡Œæ‰€åœ¨çš„å…ƒç´ 
roller.mean()
roller.apply(lambda x: x.mean())

demo_contrast = pd.Series([9, 10, 11.2, 12, 13.09])
demo.cov(demo_contrast)
roller.cov(demo_contrast) # æ»‘åŠ¨ç›¸å…³ç³»æ•°
roller.corr(demo_contrast)  # æ»‘åŠ¨åæ–¹å·®

0     NaN
1     NaN
2     6.0
3     9.0
4    12.0
dtype: float64

0         NaN
1         NaN
2    0.998625
3    0.993399
4    0.996099
dtype: float64

In [68]:
# ç±»æ»‘çª—å‡½æ•°
demo = pd.Series([-2, 1, 10, 8, 9])
print(demo)
demo.shift(2)   # æ•°å­—å¯¹åº”çš„ç´¢å¼•å‘å‰
print(demo.shift(-2))   # æ•°å­—å¯¹åº”çš„ç´¢å¼•å‘å‰
demo.diff(3)    # ä¸2å„ç´¢å¼•å‰çš„æ•°å­—åšå·®,10-(-2),8-1
demo.pct_change(2)  # ä¸ç´¢å¼•å‰çš„ç¬¬2å„å…ƒç´ ç›¸æ¯”å¢é•¿ç‡12/(-2),7/1

0    -2
1     1
2    10
3     8
4     9
dtype: int64
0    10.0
1     8.0
2     9.0
3     NaN
4     NaN
dtype: float64

0    NaN
1    NaN
2   -6.0
3    7.0
4   -0.1
dtype: float64

In [69]:
# ç”¨çª—å£å¤§å°ä¸ºn+1çš„rollingä»£æ›¿shift(2)
demo.rolling(3).apply(lambda x: list(x)[0])

# demo.diff(3)
demo.rolling(4).apply(lambda x: list(x)[-1] - list(x)[0])

demo_back = pd.Series([1,2,3])
# å‘åçª—å£å¹¶æ±‚å’Œ
demo_back.rolling(2).sum().shift(-1)    # ç§»åŠ¨è·ç¦»ä¸ºçª—å£å¤§å°-1

0    3.0
1    5.0
2    NaN
dtype: float64

#### æ‰©å±•çª—å£

In [71]:
# åŠ¨æ€é•¿åº¦çš„çª—å£
# ä»åºåˆ—å¼€å§‹åˆ°å…·ä½“çš„æ“ä½œä½ç½®
demo = pd.Series([1,2,3,4])
# (1),(1+2),(1+2+3),(1+2+3+4)
demo.expanding().mean()
demo.expanding().sum()
# cumsum,cummax,cumprod ç±»æ‰©å¼ çª—å£

0     1.0
1     3.0
2     6.0
3    10.0
dtype: float64