## 2.pandas基础

### 前置包安装

In [1]:
# ! pip install xlrd
# # ! pip install xlwt
# ! pip install openpyxl

In [2]:
import numpy as np
import pandas as pd
pd.__version__

'1.5.3'

### 2.1文件的读取和写入🎇

#### 文件的读取

In [3]:
df_csv = pd.read_csv('data/my_csv.csv')
df_txt = pd.read_table('data/my_table.txt')
df_excel = pd.read_excel('data/my_excel.xlsx') # 第一行不作为列名

In [4]:
df_csv = pd.read_csv('data/my_csv.csv')
print(df_csv)

# 第一行不作为列名
df_csv = pd.read_csv('data/my_csv.csv', header=None)
print(df_csv)

# index_col将某一列或几列作为索引
df_csv = pd.read_csv('data/my_csv.csv', index_col=['col1', 'col2'])
print(df_csv)

# 读取列的集合
df_csv = pd.read_csv('data/my_csv.csv', usecols=['col1', 'col3'])
print(df_csv)
df_csv = pd.read_csv('data/my_csv.csv', usecols=[0, 2])
print(df_csv)

# 转化为时间的列
# df_csv = pd.read_csv('data/my_csv.csv', parse_dates=[4])
df_csv = pd.read_csv('data/my_csv.csv', parse_dates=['col5'])
print(df_csv)

# 读取的数据行数
df_csv = pd.read_csv('data/my_csv.csv', nrows=2)
print(df_csv)

   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2020/1/1
1     3    b   3.4  banana  2020/1/2
2     6    c   2.5  orange  2020/1/5
3     5    d   3.2   lemon  2020/1/7
      0     1     2       3         4
0  col1  col2  col3    col4      col5
1     2     a   1.4   apple  2020/1/1
2     3     b   3.4  banana  2020/1/2
3     6     c   2.5  orange  2020/1/5
4     5     d   3.2   lemon  2020/1/7
           col3    col4      col5
col1 col2
2    a      1.4   apple  2020/1/1
3    b      3.4  banana  2020/1/2
6    c      2.5  orange  2020/1/5
5    d      3.2   lemon  2020/1/7
   col1  col3
0     2   1.4
1     3   3.4
2     6   2.5
3     5   3.2
   col1  col3
0     2   1.4
1     3   3.4
2     6   2.5
3     5   3.2
   col1 col2  col3    col4       col5
0     2    a   1.4   apple 2020-01-01
1     3    b   3.4  banana 2020-01-02
2     6    c   2.5  orange 2020-01-05
3     5    d   3.2   lemon 2020-01-07
   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2020/1/1
1     3    b   3.4  banana  2020/1/2

In [5]:
# 使用read_table的自定义分隔符的参数sep
df_txt = pd.read_table('data/my_table_special_sep.txt')
print(df_txt)

# 使用read_table的自定义分隔符的参数sep,并自定义引擎
# sep中使用的为正则表达式，使用\进行转义
print("使用自定义分隔符后(separator)")
df_txt = pd.read_table('data/my_table_special_sep.txt', sep='\|\|\|\|', engine='python')
print(df_txt)

              col1 |||| col2
0  TS |||| This is an apple.
1    GQ |||| My name is Bob.
2         WT |||| Well done!
3    PT |||| May I help you?
使用自定义分隔符后(separator)
  col1                 col2
0   TS    This is an apple.
1   GQ      My name is Bob.
2   WT           Well done!
3   PT      May I help you?

#### 文件的写入

In [11]:
# 写入数据时，将index设置为false可消除索引
df_excel = pd.read_excel('data/my_excel.xlsx')
print(df_excel)
df_excel.to_excel('data/excel_saved.xlsx', index=False)

   col1 col2  col3    col4      col5
0     2    a   1.4   apple  2020/1/1
1     3    b   3.4  banana  2020/1/2
2     6    c   2.5  orange  2020/1/5
3     5    d   3.2   lemon  2020/1/7

In [51]:
# 借助csv写入txt文本数据
df_txt = pd.read_table('data/my_table.txt')
print(df_txt)
df_txt.to_csv('data/txt_saved.txt', sep='\t', index=False)
# df_txt.to_csv('data/txt_saved_demo.txt', index=False)

   col1 col2  col3             col4
0     2    a   1.4   apple 2020/1/1
1     3    b   3.4  banana 2020/1/2
2     6    c   2.5  orange 2020/1/5
3     5    d   3.2   lemon 2020/1/7

In [52]:
# 将表格转换为markdown或latex语言
# 需安装tabulate包
print(df_csv.to_markdown())
print(df_csv.to_latex())

|    |   col1 | col2   |   col3 | col4   | col5     |
|---:|-------:|:-------|-------:|:-------|:---------|
|  0 |      2 | a      |    1.4 | apple  | 2020/1/1 |
|  1 |      3 | b      |    3.4 | banana | 2020/1/2 |
\begin{tabular}{lrlrll}
\toprule
{} &  col1 & col2 &  col3 &    col4 &      col5 \\
\midrule
0 &     2 &    a &   1.4 &   apple &  2020/1/1 \\
1 &     3 &    b &   3.4 &  banana &  2020/1/2 \\
\bottomrule
\end{tabular}

C:\Users\Wanggs\AppData\Local\Temp\ipykernel_4000\2294710654.py:4: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(df_csv.to_latex())

### 2.2 基本数据结构

#### series--一维数据

In [53]:
# series：data,index,dtype,name
# object代表一种混合类型
demo = pd.Series(data=[100, 'q', {'dic1':5}],
                 index=pd.Index(['hi', 'none', 20], name='demo_index'),
                 name='demo_series',
                 dtype='object')
print(demo)

# 通过索引取出对应的值
demo[20]
demo['hi']

demo_index
hi              100
none              q
20      {'dic1': 5}
Name: demo_series, dtype: object

100

In [54]:
# 获取series的属性
print(demo.values)
print(demo.index)
print(demo.dtype)
print(demo.name)

# 获取序列的长度
print(demo.shape)

[100 'q' {'dic1': 5}]
Index(['hi', 'none', 20], dtype='object', name='demo_index')
object
demo_series
(3,)

#### dataframe

In [55]:
data = [[1, 'a', 1.2], [2, 'b', 2.2], [3, 'c', 3.2]]
# 行索引index,列索引columns
df = pd.DataFrame(data=data,
                  index=['row_%d'%i for i in range(3)],
                  columns=['col0', 'col1', 'col2'])
print(df)

       col0 col1  col2
row_0     1    a   1.2
row_1     2    b   2.2
row_2     3    c   3.2

In [56]:
demo = pd.DataFrame(data={'col0':[1,2,3], 'col1':list('qwe'), 'col2':[.1,.2,-.4]},
                    index=['row_%d'%i for i in range(3)])
demo

       col0 col1  col2
row_0     1    q   0.1
row_1     2    w   0.2
row_2     3    e  -0.4

In [57]:
# 索引取值
demo['col0']
demo[['col0', 'col2']]

       col0  col2
row_0     1   0.1
row_1     2   0.2
row_2     3  -0.4

In [58]:
# 获取对应属性
print(demo.values)
print(demo.dtypes)
print(demo.index)
print(demo.columns)
print(demo.shape)

print(df.T)

[[1 'q' 0.1]
 [2 'w' 0.2]
 [3 'e' -0.4]]
col0      int64
col1     object
col2    float64
dtype: object
Index(['row_0', 'row_1', 'row_2'], dtype='object')
Index(['col0', 'col1', 'col2'], dtype='object')
(3, 3)
     row_0 row_1 row_2
col0     1     2     3
col1     a     b     c
col2   1.2   2.2   3.2

### 2.3常用基本函数

In [59]:
demo = pd.read_csv('data/learn_pandas.csv')
# 取前7列
demo = demo[demo.columns[:7]]

#### 汇总函数

In [60]:
# 取前n行-head(n),tail(n),默认5行
demo.head(2)

# info和describe只能显示较少的信息
demo.info() # 返回表的信息概况
demo.describe() # 数值列对应的统计量

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   School    200 non-null    object
 1   Grade     200 non-null    object
 2   Name      200 non-null    object
 3   Gender    200 non-null    object
 4   Height    183 non-null    float64
 5   Weight    189 non-null    float64
 6   Transfer  188 non-null    object
dtypes: float64(2), object(5)
memory usage: 11.1+ KB

           Height      Weight
count  183.000000  189.000000
mean   163.218033   55.015873
std      8.608879   12.824294
min    145.400000   34.000000
25%    157.150000   46.000000
50%    161.900000   51.000000
75%    167.500000   65.000000
max    193.900000   89.000000

#### 特征统计函数

In [61]:
df_demo = demo[['Height', 'Weight']]

# 聚合函数
df_demo.mean() # 对其中的数据列操作
df_demo.count() # 非缺失值的个数
df_demo.quantile()  # 返回分位数
df_demo.idxmax()    # 最大值对应的索引

df_demo.mean(axis=1).head()

0    102.45
1    118.25
2    138.95
3     41.00
4    124.00
dtype: float64

#### 唯一值函数

In [62]:
demo['School'].unique() # 返回唯一值列表
demo['School'].nunique()    # 唯一值的个数
demo['School'].value_counts()   # 唯一值及对应的个数

# 多个列组合的唯一值
df_demo = demo[['Gender', 'Transfer', 'Name']]
df_demo.drop_duplicates(['Gender', 'Transfer'], keep='first')   # 每个组合首次出现所在的行
df_demo.drop_duplicates(['Gender', 'Transfer'], keep='last')    # 最后一次出现所在的行
df_demo.drop_duplicates(['Name', 'Transfer'], keep=False)   # 去除重复组合，保留只出现一次的组合

# 返回布尔列表，重复元素为True
df_demo.duplicated(['Gender', 'Transfer'])

0      False
1      False
2       True
3       True
4       True
       ...
195     True
196     True
197     True
198     True
199     True
Length: 200, dtype: bool

#### 替换函数

In [63]:
# 通过字典替换
demo['Gender'].replace({'Female':0, 'Male':1}).head()
# 通过列表替换
demo['Gender'].replace(['Female', 'Male'], [0, 1]).head()

# method=ffill/bfill特殊方向替换
s_demo = pd.Series(['a', 1, 'b', 2, 1, 1, 'a'])
s_demo.replace([1, 2], method='ffill')  # 对1，2用前面未被替换的值进行替换
s_demo.replace([1, 2], method='bfill')  # 对1，2用后面未被替换的值进行替换
s_demo.replace('a', method='bfill')  # 对1，2用后面未被替换的值进行替换
s_demo.replace(['a', 'b'], method='ffill')  # 对1，2用后面未被替换的值进行替换

0    a
1    1
2    1
3    2
4    1
5    1
6    1
dtype: object

In [64]:
# 逻辑替换
s_demo = pd.Series([-1, 1.23, 100.789, -9])
s_demo.where(s_demo>0, '小于0')  # where函数在条件为false时进行替换，未指定替换值时，替换为缺失值
s_demo.mask(s_demo>0, '大于0')  # mask函数在条件为true时进行替换

# print(s_demo.index)
s_demo.mask([True, False, False, True], '布尔替换')

s_demo.round(2) # 四舍五入，保留2位小数
s_demo.clip(0, 2)   # 上下截断边界

0    0.00
1    1.23
2    2.00
3    0.00
dtype: float64

#### 排序函数

In [65]:
# 值排序和索引排序,将Gender,Name列作为索引
df_demo = demo[['Grade', 'Name', 'Height', 'Weight']].set_index(['Grade', 'Name'])
print(df_demo)

# 对身高进行排序,默认ascending=True为升序
df_demo.sort_values('Height').head(10)

# 在体重相同的情况下，对身高进行排序
df_demo.sort_values(['Weight', 'Height'], ascending=[True, False]).head()

# 指定索引层名字或编号,只针对设置的索引
df_demo.sort_index(level=['Grade', 'Name'], ascending=[True, False]).head()

                          Height  Weight
Grade     Name
Freshman  Gaopeng Yang     158.9    46.0
          Changqiang You   166.5    70.0
Senior    Mei Sun          188.9    89.0
Sophomore Xiaojuan Sun       NaN    41.0
          Gaojuan You      174.0    74.0
...                          ...     ...
Junior    Xiaojuan Sun     153.9    46.0
Senior    Li Zhao          160.9    50.0
          Chengqiang Chu   153.9    45.0
          Chengmei Shen    175.3    71.0
Sophomore Chunpeng Lv      155.7    51.0

[200 rows x 2 columns]

                        Height  Weight
Grade    Name
Freshman Yanquan Wang    163.5    55.0
         Yanqiang Xu     152.4    38.0
         Yanqiang Feng   162.3    51.0
         Yanpeng Lv        NaN    65.0
         Yanli Zhang     165.1    52.0

#### apply 方法

In [66]:
# apply的自由度很高，但是以性能为代价
df_demo = demo[['Weight', 'Height']]
# apply方法常用于行迭代或列迭代
df_demo.apply(lambda x:x.mean(), axis=1).head() # 逐行均值

df_demo.apply(lambda x:(x-x.mean()).abs().mean())

Weight    10.391870
Height     6.707229
dtype: float64

### 2.4窗口对象

#### 滑动窗口

In [67]:
# 滑动对象
demo = pd.Series([1,2,3,4,5])
roller = demo.rolling(window=3) # 窗口大小window
print(roller.sum())
# 滑动窗口包含当前行所在的元素
roller.mean()
roller.apply(lambda x: x.mean())

demo_contrast = pd.Series([9, 10, 11.2, 12, 13.09])
demo.cov(demo_contrast)
roller.cov(demo_contrast) # 滑动相关系数
roller.corr(demo_contrast)  # 滑动协方差

0     NaN
1     NaN
2     6.0
3     9.0
4    12.0
dtype: float64

0         NaN
1         NaN
2    0.998625
3    0.993399
4    0.996099
dtype: float64

In [68]:
# 类滑窗函数
demo = pd.Series([-2, 1, 10, 8, 9])
print(demo)
demo.shift(2)   # 数字对应的索引向前
print(demo.shift(-2))   # 数字对应的索引向前
demo.diff(3)    # 与2各索引前的数字做差,10-(-2),8-1
demo.pct_change(2)  # 与索引前的第2各元素相比增长率12/(-2),7/1

0    -2
1     1
2    10
3     8
4     9
dtype: int64
0    10.0
1     8.0
2     9.0
3     NaN
4     NaN
dtype: float64

0    NaN
1    NaN
2   -6.0
3    7.0
4   -0.1
dtype: float64

In [69]:
# 用窗口大小为n+1的rolling代替shift(2)
demo.rolling(3).apply(lambda x: list(x)[0])

# demo.diff(3)
demo.rolling(4).apply(lambda x: list(x)[-1] - list(x)[0])

demo_back = pd.Series([1,2,3])
# 向后窗口并求和
demo_back.rolling(2).sum().shift(-1)    # 移动距离为窗口大小-1

0    3.0
1    5.0
2    NaN
dtype: float64

#### 扩展窗口

In [71]:
# 动态长度的窗口
# 从序列开始到具体的操作位置
demo = pd.Series([1,2,3,4])
# (1),(1+2),(1+2+3),(1+2+3+4)
demo.expanding().mean()
demo.expanding().sum()
# cumsum,cummax,cumprod 类扩张窗口

0     1.0
1     3.0
2     6.0
3    10.0
dtype: float64